body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color:#333;
    margin: 0;
    padding: 0;
}
header {
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 1em;
}
h1 {
    font-size: 2.5em;
}
nav ul {
    list-style-type:none;
    padding: 1;
    background-color:#f0f0f0;
}
nav ul li{
    display: inline;
    margin-right: 10px;
}
section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}
footer {
    background-color: lightgrey;
    color: #333333;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}